<div class="list-filters__container">
  <h3 class="list-filters__title">Фильтры</h3>
  <div class="list-filters__input">
    <input type="text" class="input" name="title" id="title" />
  </div>
  <div class="list-filters__checkbox-group">
    <div class="list-filters__check-input">
      <input type="text" class="input" readonly name="capital" id="capital" />
    </div>
    <ul>
      <li>
        <input class="list-filters__checkbox" id="checkbox" type="checkbox" />
      </li>
      <li>
        <input class="list-filters__checkbox" id="checkbox" type="checkbox" />
      </li>
      <li>
        <input class="list-filters__checkbox" id="checkbox" type="checkbox" />
      </li>
      <li>
        <input class="list-filters__checkbox" id="checkbox" type="checkbox" />
      </li>
      <li>
        <input class="list-filters__checkbox" id="checkbox" type="checkbox" />
      </li>
    </ul>
  </div>
  <div class="radio-group">
    <ul>
      <h3>Континент</h3>
      <li><input type="radio" name="continent" value="true" /></li>
      <li><input type="radio" name="continent" value="false" /></li>
      <li><input type="radio" name="continent" value="false" /></li>
      <li><input type="radio" name="continent" value="false" /></li>
    </ul>
  </div>
</div>
