.list-item__container {
  border-bottom: 1px solid var(--main-grey);
  display: flex;
  flex-direction: column;
  height: 106px;
  margin-bottom: 40px;
}

.list-item__title {
  display: flex;
  margin-bottom: 29px;
 
}

.list-item__name {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  margin-right: 19px;
}

.list-item__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item__details {
  width: 60vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.list-item__capital-container {
  display: flex;
  align-items: center;
  width: 24vw;
}

.list-item__capital {
  margin-right: 104px;
}

.list-item__capital-title {
  color: var(--main-blue);
}

.list-item__continent-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  width: 24vw;
}

.list-item__continent {
  margin-right: 104px;
}

.list-item__continent-title {
  color: var(--main-blue);
}
